<section>
  <div style="text-align: center;"><h3><strong>Place A Call</strong></h3></div>
  <form name="phone" #phoneCall = "ngForm" (ngSubmit) = "onClickSubmit(phoneCall.value)">
    <mat-form-field style="display:block;"> 
      <input matInput placeholder="Mobile No." name='mob' type="tel" pattern="^\d{3}-\d{3}-\d{4}$" minlength=10 maxlength=10 ngModel required>
    </mat-form-field>

    <mat-form-field style="display:block;">
      <textarea matInput placeholder="Enter Text" name='text' ngModel required></textarea>
    </mat-form-field>
    <div style="text-align: center;margin-top: 5%;">
      <button mat-fab color="primary" type='submit'><i class="material-icons">phone</i></button>
    </div>
  </form>
</section>

