<section>
    <div style="text-align: center;"><h3><strong>User Login</strong></h3></div>
    <form name="phone" #phoneCall = "ngForm" (ngSubmit) = "onClickSubmit(phoneCall.value)">
      <mat-form-field style="display:block;"> 
        <input matInput placeholder="Username" name='username' type="text" ngModel required>
      </mat-form-field>
  
      <mat-form-field style="display:block;">
        <textarea matInput placeholder="Password" name='password' ngModel required></textarea>
      </mat-form-field>
      <div style="text-align: center;margin-top: 5%;">
        <button mat-raised-button color="primary" type='submit'>Login</button>
      </div>
    </form>
  </section>
  
  