<<<<<<< HEAD
section{
    margin-left: 10%;
    margin-right:10%;
    margin-top:5%;
}
@media screen and (min-width: 992px) {
    section{
        margin-left: 30%;
        margin-right:30%;
        margin-top:5%;
    }
  }
  
=======
div{
    text-align: center;
    padding: 40%;
}
.form-group{
    text-align: center;
}
>>>>>>> 5d2c6b9fd6fc92c129eabc95cee05c101aad033b
