<mat-toolbar color="primary">
    <mat-toolbar-row>
      <i class="material-icons">phone</i>
        <span style="margin-inline-start: 1%;
        ">Call Scheduling System</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar>
    <mat-toolbar-row>
        <span><a routerLink="/home" routerLinkActive="active" mat-button color="primary">Dashboard</a></span>
        <button mat-button color="primary" [matMenuTriggerFor]= "menu">Operations</button>
            <mat-menu #menu="matMenu">
                    <a routerLink="/text-to-speech-call" routerLinkActive="active" mat-menu-item color="primary">Call</a>
                    <a routerLink="/sms" routerLinkActive="active" color="primary" mat-menu-item>SMS</a>
            </mat-menu>
        <span><a routerLink="/text-to-speech-call" routerLinkActive="active" mat-button color="primary">Logs</a></span>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
