<mat-toolbar color="primary">
    <mat-toolbar-row>
      <i class="material-icons">phone</i>
        <span style="margin-inline-start: 1%;
        ">Call Scheduling System</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar>
    <mat-toolbar-row>
        <span><a routerLink="/home" routerLinkActive="active" mat-button color="primary">Dashboard</a></span>
        <span><a routerLink="/text-to-speech-call" routerLinkActive="active" mat-button color="primary">Place A Call</a></span>
        <span><a routerLink="/login" routerLinkActive="active" mat-button color="primary">Login</a></span>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
